.home-header {
  margin-top: 4rem;
  padding: 50px;
  height: 350px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 20%;
  border-top-right-radius: 20%;
}
